.profile {
    
    
    .profile-photo {
        min-width: 100px;
        max-width: 100px;
        height: 100px;
        box-sizing: unset;
    }

    .nopes {
        //text-align: center;
        .nope {
            // font-size: 14px;
            // padding: 10px;
            margin-right: 4px;
            
            .nope-remove {
                margin-left: 5px;
                cursor: pointer;
            }
        }
        .nope:hover {
            background-color: #343a40;
        }
    } 
}