.profile {
    .add-button {
        background-color: #7a6ba4;
        color: white;
        border: 1px #7a6ba4 solid;
    }
    
    .profile-photo {
        min-width: 100px;
        max-width: 100px;
        height: 100px;
        box-sizing: unset;
    }

    .badge {
        background-color: #7a6ba4;
        color: white;
        border: 1px #7a6ba4 solid;
    }

    .badge:hover {
        background-color: #343a40;
    } 
}