<navbar></navbar>
<div class=" profile" *ngIf="user">

  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <div class="row">
          <img src="{{user.photoUrl}}" class="card-img-top col profile-photo">
          <div class="col">
            <p>Name: {{user.name}}</p>
            <p>Zip: {{user.zip}}</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            Your Nopes
            <button *ngIf="user" type="button" class="btn btn-info" style="float:right;" (click)="openNopesModal()"><i
                class="fa fa-user-plus"></i> Edit Nopes</button>
          </div>
          <div class="card-body">
            <div class="form-row ml-1">
              <div class="col" class="users">
                <p>
                  <span *ngFor="let nope of nopesToDisplay(); let i = index"
                    class="badge badge-pill badge-secondary user mr-1">
                    <span *ngIf="getRestaurantNameFromId(nope)">
                      <span>{{getRestaurantNameFromId(nope)}} </span><span class="team-close"
                        (click)="removeNope(nope)">x</span>
                    </span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-header">
            Your Teams
            <button *ngIf="user" type="button" class="btn btn-info" style="float:right;"
              (click)="openCreateTeamModal()"><i class="fa fa-user-plus"></i> Create Team</button>
          </div>
          <div class="card-body">
            <div class="form-row ml-1">
              <div class="col" class="users">
                <p>
                  <span *ngFor="let team of user.teams; let i = index" (click)="openEditTeamModal(team)"
                    class="badge badge-pill badge-secondary user mr-1">
                    <span>{{team.name}} </span><span class="team-close" (click)="leaveTeam(team, i, $event)">x</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card mt-5" style="width: 80%;">
    <div class="card-header">
      Manage Restaurant Preferences
    </div>
    <div class="card-body">
      <div class="form-group mr-2">
        <label for="nopeSelect" class="control-label modal-input-label"><b>Nopes: </b></label>
      </div>
      <div class="form-group mr-2">
        <select class="form-control" name="selectedRestaurant" [(ngModel)]="selectedRestaurantId">
          <option *ngFor="let restaurant of getFilteredRestaurants()" [value]="restaurant.id">{{ restaurant.name }}
          </option>
        </select>
      </div>
      <button type="button" class="btn btn-info" (click)="nopeRestaurant()"><i class="fa fa-plus"></i></button>
      <div *ngIf="user">
        <b>Current Nopes: </b>
        <div class="nopes" *ngFor="let nope of nopesToDisplay()">
          <span *ngIf="getRestaurantNameFromId(nope)" class="badge badge-pill badge-secondary nope">
            <span>{{ getRestaurantNameFromId(nope)}} </span>
            <span class="nope-remove" (click)="removeNope(nope)">x</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5" style="width: 80%;">
    <div class="card-header">
      Manage Your Teams

      <button *ngIf="user" type="button" class="btn btn-info" style="float:right;" (click)="openCreateTeamModal()"><i
          class="fa fa-user-plus"></i> Create Team</button>
    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let team of user?.teams" (click)="openEditTeamModal(team)">{{team.name}}</li>
      </ul>
    </div>
  </div> -->

  </div>
</div>
<app-team-modal #teamModal [user]="user" [team]="team"></app-team-modal>
<app-nopes-modal #nopesModal [user]="user"></app-nopes-modal>

<app-footer></app-footer>