<navbar></navbar>
<div class=" profile" *ngIf="user">

  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <div class="row">
          <img src="{{user.photoUrl}}" class="card-img-top col profile-photo">
          <div class="col">
            <p>Name: {{user.name}}</p>
            <p *ngIf="!editingZip">Zip: {{user.zip}} <span (click)="toggleEditZip()"
                class="fa fa-pencil clickable"></span>
            </p>
            <div *ngIf="editingZip">
              <input  type="text" [(ngModel)]="user.zip">
              <span class="fa fa-check clickable" (click)="updateUser();toggleEditZip()"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            Your Nopes
            <button *ngIf="user" type="button" class="btn btn-info add-button" style="float:right;"
              (click)="openNopesModal()"><i class="fa fa-thumbs-o-down"></i> Edit Nopes</button>
          </div>
          <div class="card-body">
            <div class="form-row ml-1">
              <div class="col" class="users">
                <p>
                  <span *ngFor="let nope of nopesToDisplay(); let i = index"
                    class="badge badge-pill badge-secondary user mr-1">
                    <span *ngIf="getRestaurantNameFromId(nope)">
                      <span>{{getRestaurantNameFromId(nope)}} </span><span class="team-close"
                        (click)="removeNope(nope)">x</span>
                    </span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-header">
            Your Teams
            <button *ngIf="user" type="button" class="btn btn-info add-button" style="float:right;"
              (click)="openCreateTeamModal()"><i class="fa fa-user-plus"></i> Create Team</button>
          </div>
          <div class="card-body">
            <div class="form-row ml-1">
              <div class="col" class="users">
                <p>
                  <span *ngFor="let team of user.teams; let i = index" (click)="openEditTeamModal(team)"
                    class="badge badge-pill badge-secondary user mr-1">
                    <span>{{team.name}} </span><span class="team-close" (click)="leaveTeam(team, i, $event)">x</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-team-modal #teamModal [user]="user" [team]="team"></app-team-modal>
<app-nopes-modal #nopesModal [user]="user"></app-nopes-modal>

<app-footer></app-footer>