#footer {
  height: 8%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.footer-text {
  text-align: center;
  font-size: 10px;
  width: 10%;
}

@media screen and (max-width: 1024px) {
  #footer {
    position: relative;
  }

  .footer-text {
      width: 50%;
  }
}
