.navbar-icon {
    width:50px;
    height:50px;
    border-radius: 50%;
}

.user-photo:focus {
    outline: none;
    box-shadow: none;
}

.navbar-brand {
    span {
        font-size: 24px;
        margin-left: 5%;
        vertical-align: middle;
    }
}

.dropdown-item {
    cursor: pointer;
}