<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img class="navbar-icon mr-1" src="./assets/LogoPurple.svg" alt="taco" />
    <span>Rocket Lunch</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>

  </div>
  <button *ngIf="!internalUser && !loading" (click)="signIn()" class="btn btn-sm btn-outline-primary">Sign In</button>
  <div class="btn-group" *ngIf="internalUser && !loading">
    <button type="button" class="btn user-photo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img class="navbar-icon mr-1" [src]="internalUser.photoUrl" />
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <div routerLink="/profile/{{internalUser.id}}" class="dropdown-item">Profile</div>
      <div class="dropdown-item" (click)="signOut()">Sign Out</div>

      <div class="dropdown-divider"></div>
      <div class="dropdown-item">{{internalUser.name}}</div>
      <div class="dropdown-item" (click)="selectTeam(team)" *ngFor="let team of internalUser.teams">{{team.name}}</div>
    </div>
  </div>
</nav>