<navbar></navbar>
<div class="search-banner">Exploring <strong>Lunch Places</strong> <span *ngIf="selectedTeam"> With
    <strong>{{selectedTeam.name}}</strong></span> Near <strong>{{zip}}</strong></div>
<div class="container search-box">
  <div id="resultBox" class="row justify-content-md-center">
    <div class="col go-for-lunch">
      <!-- <img *ngIf="loading" class="loading-image" src="./assets/loading.gif" alt="loading"> -->
      <!-- <div *ngIf="!loading">
        <p class="result"><span *ngIf="restaurant">{{restaurant.name}}</span></p>
      </div> -->
      <h3>Go Explore: </h3>
      <h1 class="restaurant-suggestion">{{restaurant?.name}}</h1>

      <div class="relaunch">
        <button type="button" class="btn relaunch-button" (click)="getRestaurant()" *ngIf="restaurant">
          ReLaunch
        </button>
      </div>

    </div>
  </div>
  <div id="memberBox" class="row px-3">
    <div *ngIf="internalUser" class="col">
      <div class="row">
        <div class="col">
          <h4 class="explore-members">Exploring Members
            <button id="selectTeamBtn" class="btn btn-primary float-right" (click)="openExplorersModal()">Select Team</button>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col users">
          <span *ngFor="let user of users; let i = index" class="badge badge-pill badge-secondary user mr-1 float-left">
            <span>{{user.name}} </span><span class="user-close" (click)="excludeUser(user, i, $event)">x</span>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="!internalUser" class="col justify-content-md-center">
      <h6>Sign in for a customized experience!</h6>
    </div>
  </div>
  
</div>
<app-explorers-modal #explorersModal [user]="internalUser"></app-explorers-modal>

<app-footer></app-footer>

























<!-- <div class="row justify-content-md-center" style="padding-bottom: 10px;">
      <div class="switch">
        <input id="lunch" type="checkbox" [(ngModel)]="isLunch" />
        <input id="dinner" type="checkbox" [(ngModel)]="isDinner" />
        <input type="checkbox" name="toggle" (click)='toggleMeal()'>
        <label for="toggle"><i>
            <div class="slide"><img class="slide-img" [src]="sliderSrc" /></div>
          </i></label>
      </div>
    </div> -->