<div class="container">
  <div class="row justify-content-md-center">
    <div class="col" class="go-for-lunch">
      <p class="result"><span *ngIf="restaurant">{{restaurant.name}}</span></p>
      <button type="button" class="btn btn-info go-button" (click)="getRestaurant()">
        GO for
        <img class="go-image" [src]="goSrc" alt="go">
      </button>
    </div>
  </div>
  <div class="row justify-content-md-center" style="padding-bottom: 10px;">
    <div class="switch">
      <input id="lunch" type="checkbox" [(ngModel)]="isLunch" />
      <input id="dinner" type="checkbox" [(ngModel)]="isDinner" />
      <input type="checkbox" name="toggle" (click)='toggleMeal()'>
      <label for="toggle"><i>
          <div class="slide"><img class="slide-img" [src]="sliderSrc" /></div>
        </i></label>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col" class="users">
      <p>
        <span *ngFor="let user of users" class="badge badge-pill badge-secondary user" (click)="selectUser(user)">
          <span>{{ user.name }} </span><span class="user-close" (click)="dismissUser(user.id)">x</span></span>
        <span class="badge badge-pill badge-info user" (click)="openAddUserModal()">
          <i class="fa fa-user-plus"></i> Add Eater
        </span>
      </p>
    </div>
  </div>
</div>
<app-user-modal #userModal [users]="users" [user]="selectedUser" [restaurants]="restaurants"></app-user-modal>