<app-modal #modal class="">
    <div class="modal-header">
        <h5 class="modal-title">Eat with friends!</h5>
    </div>

    <div class="modal-body" *ngIf="selectedTeam">
        <form>
            <div class="form-row">
                <div class="form-group required col-8">
                    <input type="text" name="team-name" class="form-control" placeholder="Team Name"
                        [(ngModel)]="selectedTeam.name">
                </div>
                <div class="form-group required col-4">
                    <input type="text" name="team-zip" class="form-control" placeholder="Zip"
                        [(ngModel)]="selectedTeam.zip">
                </div>
            </div>
        </form>



        <div *ngIf="team">
            <hr>
            <h5>Add Users</h5>
            <div class="form-row">
                <div class="form-group required col-8">
                    <input type="text" name="user-to-add-email" class="form-control" placeholder="user's email address"
                        [(ngModel)]="userToAddEmail">
                </div>
                <button type="button" class="form-group btn btn-info add-button" (click)="addUser()"><i
                        class="fa fa-plus"></i></button>

            </div>
            <div class="form-row ml-1">
                <div class="col" class="users">
                    <p>
                        <span *ngFor="let user of filteredUsers(); let i = index" class="badge badge-pill badge-secondary user mr-1">
                            <span>{{ user.name }} </span><span class="user-close" (click)="removeUserFromTeam(user.id, i)">x</span>
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
        <button *ngIf="!team" type="button" class="btn btn-primary" (click)="createTeam()">Create Team</button>
    </div>
</app-modal>