.go-for-lunch {
    text-align: center;
    font-size: 30px;
    padding: 20px;

    .result {
        font-size: 80px;
        color:rgb(23, 162, 184);
        height: 128px;
    }

    .go-button {
        font-size: 70px;
        padding: 20px;
        -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	    box-shadow: 0 8px 6px -6px black;
    }

    .go-image {
        width: 128px;
    }
}

.users {
    text-align: center;
    .user {
        font-size: 14px;
        padding: 10px;
        margin-right: 8px;

        .user-close {
            margin-left: 5px;
            cursor: pointer;
        }
    }
    .user:hover {
        background-color: #343a40;
    }
}