<div class="container">
  <div class="row justify-content-md-center">
    <div class="col" class="go-for-lunch">
      <p>
        <button class="btn btn-primary" (click)="getRestaurant()">GO</button>
      </p>
      <p *ngIf="restaurant">{{restaurant.name}}</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col" class="users">
      <p>
        <span *ngFor="let user of users" class="badge badge-pill badge-secondary user"> {{ user.name }} <span class="user-close">x</span></span>
        <span class="badge badge-pill badge-primary user" (click)="openAddUserModal()">
          <i class="fa fa-user-plus"></i> Add user
        </span>
      </p>
    </div>
  </div>
</div>
<app-add-user-modal #addUsermodal [users]="users"></app-add-user-modal>
