.welcome-page {

    img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
          
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
          
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
      }

      @media screen and (max-width: 1024px) { /* Specific to this particular image */
        img.bg {
          left: 50%;
          margin-left: -512px;   /* 50% */
        }
      }

      .search-btn {
        position: absolute;
        top: 60%;
        left: 19%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-image: linear-gradient(to right, #85D1F1, #1E81CE);
        color: white;
        font-size: 20px;
        padding: 12px 40px;
        border: none;
        cursor: pointer;
        border-radius: 27px;
    }
}